.navbar {
  display: flex;

  background-color: yellow;
  justify-content: space-between;
}

.header {
  color: black;
  padding-left: 25px;
}

.linkSection {
  padding: 27px;
}

.link {
  font-size: large;
  font-weight: bold;
  color: black;
  padding: 27px;

  text-decoration: none;
}
